@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');.chat{
    font-family: 'Roboto', sans-serif;
}

/* Nav bar */
.chat .nav-bar{
    height: 50px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    font-size: 1.5rem;
}

.nav-bar button{
    outline: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.nav-bar button i{
    font-size: 1.3rem;
    color: white;
}



/* users and menu */
.chat .users-bar{
    transition: all 0.5s;
}
#menu{
    display: none;
}
#menu:checked ~ .messages-layout .users-bar{
    width: 250px;
}


/* messages container */
.messages-container{
    height: 81%;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
}
.messages-container::-webkit-scrollbar{
    width: 10px;
}
.messages-container::-webkit-scrollbar-thumb{
    background: rgba(100, 100, 100, 0.4);
    border-radius: 20px;
}
@media(min-width: 576px){
    .chat .nav-bar{
        height: 70px;
        background: white;
        box-shadow: 0 2px 8px rgba(100,100,100,.3);
        color: rgb(24, 23, 23);
        font-size: 1.7rem;
    }
    .chat .nav-bar label{
        display: none;
    }
    .chat .messages-layout{
        display: flex;
        width: 100%;
        height: 100vh;
    }
    .chat .users-bar{
        width: 250px;
        height: 100%;
        position: relative;
        bottom: 0;
        top: 0;
    }
    .nav-bar button{
        display: none;
    }
}